* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.page {
  padding: 24px;
}

.page__title {
  font-size: 70px;
  line-height: 78px;
  font-weight: 400;
  margin: 220px 132px 110px;
  text-align: center;
  color: #515076;
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-card {
  display: inline-block;
  width: 340px;
  padding: 25px;
  vertical-align: top;
  margin: 0 16px 24px;
  background: #F7F7FA;
  border: 1px solid #515076;
}

.product-card__img {
  display: block;
  width: 100%;
  height: auto;
}

.product-card__type {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 5px;
  color: #A5A3B9;
}

.product-card__title {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color: #515076;
}

.product-card__desc {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 5px;
  color: #515076;
}

.product-card__composition-title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #515076;
}

.product-card__composition-list {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #515076;
}

.product-card__price {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-card__price-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #515076;
}

.product-card__price-value {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #515076;
}

