.products {
  margin-top: 220px;
  padding-top: 220px;
  padding-bottom: 110px;
  background-image: url("../img/bg-flowers.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 790px 697px;
}

.products__title {
  font-size: 70px;
  line-height: 78px;
  font-weight: 400;
  margin: 0 0 110px;
  font-size: 70px;
  line-height: 78px;
  font-weight: 400;
  text-align: center;
  color: #515076;
  background-image: url("../img/bg-flowers.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 790px 697px;
}

.page__content {
  background-position: 0 0;
  max-width: 1110px;
  margin: 0 auto;
}